---
import type { CollectionEntry } from 'astro:content';
import PostCard from '../ui/card/PostCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
  title?: string;
}

const { posts = [], title = 'All Articles' } = Astro.props as Props;
---

<section class="space-y-6">
  <h2 class="text-3xl pl-4 font-bold tracking-tight">
    <span class="bg-gradient-to-r from-[var(--accent)] to-[var(--accent-dark)] bg-clip-text text-transparent">{title}</span>
  </h2>
  <div class="grid grid-cols-1 gap-6">
    {posts.map((post) => (
      <PostCard post={post} />
    ))}
  </div>
</section>


