---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";
import Projects from "../components/sections/Projects.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import GlowLineSeparator from "../components/ui/separator/GlowLineSeparator.astro";
---


<html lang="en" data-theme="light" class="light">
  <head>
    <BaseHead title="Portfolio" description="Featured Games" />
  </head>
  <body>
    <Header />
    <main>
      <HeroSection title="Featured Games" subtitle="A collection of titles and interactive experiences I helped bring to life." />
      <Projects />
      <GlowLineSeparator />
    </main>
    <Footer />
  </body>
</html>


